<p id="notice"><%= notice %></p>

<% @pins.each do |pin| %>
        <%= link_to image_tag(pin.image.url(:medium)), pin %><br>
        <%= pin.description %><br/>
        <%= pin.user.email if pin.user %><br/>
        
        
       <% if user_signed_in? %>
        <%= link_to 'Edit', edit_pin_path(pin) %>
        <%= link_to 'Destroy', pin, method: :delete, data: { confirm: 'Are you sure?' } %><br/><br/>
        <% end %>
<% end %>
<br>


