
<div class="jumbotron center">
<h1>My Web Developing Project</h1>
<p>Ruby on Rails with Front End Engenering Project  </p><br/><br/>
<%= image_tag "header.jpg",  :usemap => "image_link" %>
<map name="image_link">
    <area href="<%= url_for home_portfolio_path %>" alt="Portfolio" coords="0,0,150,150" shape="rect" />
</map>

<% if user_signed_in? %>
  <%= link_to "Logout", destroy_user_session_path, method: :delete, class:'btn btn-primary' %>
  <%= link_to "Edit Profile", edit_user_registration_path, class:'btn btn-default' %>
  <%= link_to "List Pins", pins_path, class:'btn btn-default' %>
<% else %>
  <!--<%= link_to "Login", new_user_session_path, class:'btn btn-default' %>-->
  <!--<%= link_to "Join", new_user_registration_path, class:'btn btn-primary' %> -->
<% end %>
 </div>
