<div class="container">
<h1>Portfolio</h1>
<%= link_to image_tag("wh_building.jpeg"),"http://www.paulettachanco.com", alt:"pauletta chanco" %>
<%= link_to image_tag("red sky.jpeg"), "http://www.thelap.org", alt:"the lap" %>
<%= link_to image_tag("web.jpg"), "http://www.jtwebarchitect.com", alt:"jt web architect" %>
<%= link_to image_tag("sunset.jpg"), "https://momo333.herokuapp.com", alt:"jt web architect" %>
<%= link_to image_tag("shining car.jpg"), "http://www.newmanesque.net", alt:"jt web architect" %>
<%= link_to image_tag("str.jpeg"), "https://tsarong2.herokuapp.com/", alt:"jt web architect" %>
</div>