<div class="container">
<h1>Portfolio</h1>
<ul>
    <li class="prot"><%= link_to image_tag("pualetta.PNG"),"http://www.paulettachanco.com", alt:"pauletta chanco" %></li>
    <li class="prot"><%= link_to image_tag("lap.PNG"), "http://www.thelap.org", alt:"the lap" %></li>
    <li class="prot"><%= link_to image_tag("jt.PNG"), "http://www.jtwebarchitect.com", alt:"jt web architect" %></li>
    <li class="prot"><%= link_to image_tag("snewman.PNG"), "http://www.newmanesque.net", alt:"jt web architect" %></li>
    <li class="prot"><%= link_to image_tag("app1.PNG"), "https://tsarong2.herokuapp.com/", alt:"jt web architect" %></li>
    <li class="prot"><%= link_to image_tag("app2.PNG"), "https://momo333.herokuapp.com", alt:"jt web architect" %></li>
</ul>
</div>